html {
  background: url(../image/mainbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  position: relative;
  margin-top: 60%;
}

.mainContainer {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 70%;
}

.logo {
  margin: 0 auto;
  width: 30%;
}

.user {
  display: flex;
  justify-content: center;
}
.woman,
.man {
  width: 90%;
}

@media only screen and (min-width: 768px) {
  body {
    margin-top: 25%;
  }

  .mainContainer {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  body {
    margin-top: 12.5%;
  }

  .mainContainer {
    width: 30%;
  }
}
